.layout {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 100%;
    flex:1;
    border: 1px solid black;
    min-height: 50vh;
    // width: 45%;
    // height: 25em;
    
    
}

