.layout {
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 100%;
    flex:1;
    border: 1px solid black;
    // min-height: 50vh;
    @media print {
        height: 148mm;
        width: 105mm;
    }
    
    
}

